<!-- REGISTER PANEL -->

<ng-container *ngIf="loading">
	<app-loading></app-loading>
</ng-container>


<div *ngIf="!loading" class="register-panel">
	<mat-card>
		<mat-card-content>
				
			<mat-toolbar>
				<button mat-icon-button routerLink="/login"> 
					<mat-icon>keyboard_arrow_left</mat-icon>
				</button> &nbsp;
				<span>Rejestracja</span>
			</mat-toolbar>
		
			<div class="card-real-content">
				<div class="form-container">
					<mat-form-field>
						<input matInput placeholder="Nazwa użytkownika" [formControl]="form.username" required>
						<mat-error *ngIf="form.username.invalid">
							Nazwa musi mieć od 5 do 25 znaków.
						</mat-error>
					</mat-form-field>

					<mat-form-field>
						<input matInput placeholder="E-mail" [formControl]="form.email" required>
						<mat-error *ngIf="form.email.invalid">
							Nie prawidłowy email.
						</mat-error>
					</mat-form-field>
			
					<mat-form-field>
						<input matInput type="password" placeholder="Hasło" [formControl]="form.password" required>
						<mat-error *ngIf="form.password.invalid">
							Hasło musi mieć co najmniej 6 znaków.
						</mat-error>
					</mat-form-field>
				</div>
			
				<div class="buttons-container">
					<div class="button-row">
						<span class="fill-space"></span>
						<button mat-raised-button class="register-button" color="primary" (click)="onRegister()">Rejestruj</button>
					</div>
				</div>
			</div>

		</mat-card-content>
	</mat-card>
</div>

	

		